@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  font-family: "Pretendard-Regular";
}

.react-datepicker-wrapper {
  width: 100%;
}

/* 스크롤바 디자인 커스텀 */

/* 스크롤바 넓이 지정 */
::-webkit-scrollbar {
  width: 5px;
}

/* 스크롤바 트랙 꾸미기 */
::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 5px;
}

/* 스크롤바 손잡이 꾸미기 */
::-webkit-scrollbar-thumb {
  background: #9a9a9a;
  border-radius: 5px;
}

/* 스크롤바 손잡이 호버 시 색 */
::-webkit-scrollbar-thumb:hover {
  background: #1e1e1e;
}
